<div class="login-form">
  <h2><%= 'navigation.login' %></h2>
  <hr>
  <%= simple_form_for :sessions, :url => sessions_path, method: 'POST' do |f| %>
    <%= f.input :email, input_html: { placeholder: 'placeholder.session.email' } %>
    <%= f.input :password %>
    <%= f.button :submit, 'navigation.login', class:"btn btn-custom-lighten" %>
  <% end %>

  <%= link_to 'account.create', signup_path %>

  <%= render partial: "carts/guest_checkout" %>
</div>
