<tr>
  <td><%= link_to product.title, store_product_path(current_store, product) %></td>
  <td><%= number_to_currency(product.price) %></td>
  <td>
    <% product.categories.each do |category| %>
      <%= category.title %> <br>
    <% end %>
  </td>
  <td>
    <%= render partial: 'product_status',
               locals: { product: product } %>
  </td>
  <td>

          <%= link_to 'Edit',
                      edit_store_stock_product_path(current_store, product) %>

          <%= link_to activate_or_retire_translation(product.status),
                      toggle_status_store_stock_product_path(current_store, product, 'retire'),
                      method: :post %>
  </td>
</tr>
