<div class="admin-product-index">
  <div class="span11">
    <div class="pull-right">
      <%= button_to "New Product", new_store_stock_product_path, method: :get, class: 'btn btn-custom-lighten' %>
    </div>

    <h1>Product Management for <%= link_to current_store, store_home_path(current_store) %></h1>
    <hr>

    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= 'Title' %></th>
        <th><%= 'Price' %></th>
        <th><%= 'Category' %></th>
        <th><%= 'Status' %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <%= render @products %>
      </tbody>
    </table>

  </div>
</div>
