<div class="admin-product-index">
  <div class="span11">
    <div class="pull-right">
      <%= button_to "New Product", new_store_stock_product_path, method: :get, class: 'btn btn-custom-lighten' %>
    </div>

    <h1>Product Management for <%= current_store %></h1>
    <hr>

    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= t 'product.title' %></th>
        <th><%= t 'product.price' %></th>
        <th><%= t 'categories.self' %></th>
        <th><%= t 'model.status' %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <%= render @products %>
      </tbody>
    </table>

  </div>
</div>
