<%= simple_form_for(@store) do |f| %>
  <%= f.error_notification %>
    <div>
        <%= f.input :name %>
        <%= f.input :path %>
        <%= f.input :description %>

        <%= f.button :submit, class: 'btn btn-custom-lighten' %>
    </div>
<% end %>
