<div class="admin-order-show">
  <%= render partial: 'shared/admin_navigation', locals: { active: false } %>

  <div class="span8">
    <h1><%= 'order.self' %> #<%= @order.id %></h1>
    <span class="label default"><%= @order.status %></span>
    <%= render partial: 'next_status_button', locals: { order: @order } %>
    <hr>
    <p><%= 'model.createdat' %>: <%= @order.created_at.to_s(:short) %></p>
    <p><%= 'model.updatedat' %>: <%= @order.updated_at.to_s(:short) %></p>
    <p><%= 'order.purchasername' %>: <%= @order.customer.full_name %></p>
    <p><%= 'order.purchaseremail' %>: <%= @order.customer.email %></p>
    <h2> <%= 'product.collection' %> </h2>
    <table class="table">
      <thead>
      <th><%= current_store %></th>
      <th><%= 'product.title' %></th>
      <th><%= 'product.quantity' %></th>
      <th><%= 'product.unitprice' %></th>
      <th><%= 'product.subtotal' %></th>
      </thead>
      <tbody>
      <%= render partial: 'order_item', collection: @order.order_items %>
      </tbody>
      <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td style="text-align: right;"><%= 'total' %></td>
        <td><%= number_to_currency(@order.total) %></td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
