<div class="span3">
  <ul class="nav nav-list">
    <li class="nav-header"><%= t('account.self') %></li>
    <li class="<%= active == :stores ? 'active' : '' %>">
      <%= link_to 'Manage Stores', profile_path %>
    </li>
    <li class="<%= active == :account_details ? 'active' : '' %>">
      <%= link_to 'Edit Profile', profile_path %>
    </li>
    <li class="<%= active == :orders ? 'active' : '' %>">
      <%= link_to t('order.history'), profile_path %>
    </li>
  </ul>
</div>
