<% if @stores.empty? %>
  It doesn't seem you've created any stores yet! Use the button to the right to create a new store.
<% end %>

<% unless @approved_stores.empty? %>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>URL ID</th>
      <th>Role</th>
      <th>Active Status</th>
    </tr>

    <% @approved_stores.each do |store| %>
      <tr>
        <td>
          <% if current_user.role_for_store?('store_admin', store) %>
            <%= link_to store, store_admin_path(store) %>
          <% end %>
        </td>
        <td><%= store.path %></td>
        <td><%= current_user.role_to_s(store) %></td>
        <td><%= store.active_to_s %></td>
      </tr>
    <% end %>
  </table>
<% end %>


<% unless @pending_stores.empty? %>
  <h3>Pending Stores</h3>
  <ul>
    <% @pending_stores.each do |store| %>
      <li><%= store %></li>
    <% end %>
  </ul>
<% end %>


<% unless @disapproved_stores.empty? %>
  <h3>Disapproved Stores</h3>
  <ul>
    <% @disapproved_stores.each do |store| %>
      <li><%= store %></li>
    <% end %>
  </ul>
<% end %>
