<div class="user-index">
  <%= render partial: 'user_navigation', :locals => { active: :stores } %>

  <div class="span8">
    <div class="pull-right">
      <%= button_to "Create a New Store", new_store_path, class: 'btn btn-custom-lighten', method: :get %>
    </div>
    
    <div id="manage_stores">
      <h1>Manage Stores</h1>
      <hr>
      <%= render partial: 'user_stores' %>
    </div>

    <div id="edit_profile">
      <h1>Edit Account Information</h1>
      <hr>
      <%= simple_form_for @user do |f| %>
          <%= f.input :display_name, input_html: { placeholder: t('placeholder.user.displayname') } %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <%= f.hidden_field :admin, value: false %>
          <%= f.submit t('account.update'), class: 'btn btn-custom-lighten' %>
      <% end %>
      <%= simple_form_for @customer do |f| %>
          <%= f.input :full_name, input_html: { placeholder: t('placeholder.user.fullname') } %>
          <%= f.input :email, input_html: { placeholder: t('placeholder.user.email') } %>
      <% end %>
    </div>

    <div id="edit_shipping">
      <h3>Shipping Address:</h3>
      <% if @user.customer.shipping_address != nil %>

      <table class="shipping">
        <tr>
          <th> Street Address: </th>
          <td><%= @user.customer.shipping_address.street_address %></td><br/>
        </tr>
        <tr>
          <th> City: </th>
          <td><%= @user.customer.shipping_address.city %></td><br/>
        </tr>
        <tr>
          <th> Zipcode: </th>
          <td><%= @user.customer.shipping_address.zip %></td><br/>
        </tr>
        <tr>
          <th> State: </th>
          <td><%= @user.customer.shipping_address.state %></td><br/>
        </tr>
      </table>

        <%= button_to "Edit", edit_customer_shipping_addresses_path(current_user), method: :get %>
      <% else %>
        No address currently on file.<br/><br/>
        <%= button_to "Add Shipping Address", new_customer_shipping_addresses_path(current_user), method: :get %>
      <% end %>
    </div>

    <h3>Billing Address:</h3>
  <% if @user.customer.billing_address != nil %>

  <table class="shipping">
    <tr>
      <th>Street Address: </th>
      <td><%= @user.customer.billing_address.street_address %></td><br/>
    </tr>
    <tr>
      <th>City: </th>
      <td><%= @user.customer.billing_address.city %></td><br/>
    </tr>
    <tr>
      <th>Zipcode: </th>
      <td><%= @user.customer.billing_address.zip %></td><br/>
    </tr>
    <tr>
      <th>State: </th>
      <td><%= @user.customer.billing_address.state %></td><br/>
    </tr>
  </table>
    <%= button_to "Edit", edit_customer_billing_addresses_path(current_user), method: :get %>
  <% else %>
    No address currently on file.<br/><br/>
    <%= button_to "Add Billing Address", new_customer_billing_addresses_path(current_user), method: :get %>
  <% end %>

    <div>
      <h3>Credit Card Information:</h3>
    <% if @user.customer.credit_card != nil %>

    <table class="shipping">
      <tr>
        <th>Credit Card Number: </th>
        <td><%= @user.customer.credit_card.number %></td><br/>
      </tr>
      <tr>
        <th>Security Code: </th>
        <td><%= @user.customer.credit_card.security_code %></td><br/>
      </tr>
      <tr>
        <th>Expiration Month: </th>
        <td><%= @user.customer.credit_card.expiration_month %></td><br/>
      </tr>
      <tr>
        <th>Expiration Year: </th>
        <td><%= @user.customer.credit_card.expiration_year %></td><br/>
      </tr>
    </table>
      <%= button_to "Edit", edit_customer_credit_cards_path(current_user), method: :get %>
    <% else %>
      No credit card currently on file.<br/><br/>
      <%= button_to "Add Credit Card", new_customer_credit_cards_path(current_user), method: :get %>
    <% end %>
    </div>
  </div>
</div>
