<% unless request.referrer == login_url %>
  <% session[:return_to] = request.referrer %>
<% end %>

<div class="span8" id="signup">
<h1>Create New Account</h1>
<br/>
  <%= form_tag(:controller => "users", :action => "create", :method => "post") do %>
  <p>* Full Name</p>
  <%= text_field_tag(:full_name) %><br/>
  <p>* Email</p>
  <%= text_field_tag(:email) %><br/>
  <p>Display Name</p>
  <%= text_field_tag(:display_name) %><br/>
  <p>* Password</p>
  <%= password_field_tag(:password) %><br/>
  <p>* Password Confirmation</p>
  <%= password_field_tag(:password_confirmation) %><br/>
  <%= button_tag("Sign Up", class: 'btn btn-custom-lighten') %>
<% end %>

</div>
