<div class="admin-order-show">
  <%#= render partial: 'shared/admin_navigation', locals: { active: false } %>

  <div class="span11">
    <h2>Pending Stores</h2>

    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>URL ID</th>
        <th>Description</th>
        <th>Status</th>
        <th>Admin</th>
      </thead>

      <tbody>
      <% @pending_stores.each do |store| %>
        <tr>
          <td><%= store.id %></td>
          <td><%= store.name %></td>
          <td><%= store.path %></td>
          <td><%= store.description[0...31] %></td>
          <td>
            <%= link_to "Approve", choose_approval_status_on_admin_store_path(:id => store.id, :status => 'approved'), :class => 'btn btn-mini', :method => "put" %> or 
            <%= link_to "Decline", choose_approval_status_on_admin_store_path(:id => store.id, :status => 'declined'), :class => 'btn btn-mini', :method => "put" %>
          </td>
          <td><%= link_to "Admin", admin_store_path(store) %></td>
        </tr>
      <% end %>
      </tbody>

      <tfoot>
      </tfoot>

    </table>

  </div>

  <div class="span11">
    <h2>Approved Stores</h2>

    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>URL ID</th>
        <th>Description</th>
        <th>Active</th>
        <th>Admin</th>
      </thead>

      <tbody>
      <% @approved_stores.each do |store| %>
        <tr>
          <td><%= store.id %></td>
          <td><%= store.name %></td>
          <td><%= store.path %></td>
          <td><%= store.description[0...31] %></td>
          <td>
            <%= store.active_to_s %> <%= link_to "Change status?", toggle_active_admin_store_path(store), method: :put %>
          </td>
          <td><%= link_to "Admin", admin_store_path(store) %></td>
        </tr>
      <% end %>
      </tbody>

      <tfoot>
      </tfoot>

    </table>

  </div>




</div>
