<div class="admin-order-show">
  <%#= render partial: 'shared/admin_navigation', locals: { active: false } %>

  <div class="span11">
    <h2>Platform Administration for All Stores</h2>
    <h3>Pending Stores</h3>

    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>URL ID</th>
        <th>Description</th>
        <th>Approval Status</th>
      </thead>

      <tbody>
      <% @pending_stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
          <td><%= store.path %></td>
          <td><%= store.description[0...31] %>
            <% if store.description.length >= 32 %>
              ...
            <% end %>
          </td>
          <td>
            <%= link_to "Approve", choose_approval_status_on_admin_store_path(:id => store.id, :status => 'approved'), :class => 'btn btn-mini', :id => 'approve_store', :method => "put" %> or 
            <%= link_to "Decline", choose_approval_status_on_admin_store_path(:id => store.id, :status => 'declined'), :class => 'btn btn-mini', :id => 'decline_store', :method => "put" %>
          </td>
        </tr>
      <% end %>
      </tbody>

      <tfoot>
      </tfoot>

    </table>

  </div>

  <div class="span11">
    <h3>Approved Stores</h3>

    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>URL ID</th>
        <th>Description</th>
        <th>Active Status</th>
        <th>Admin</th>
      </thead>

      <tbody>
      <% @approved_stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
          <td><%= store.path %></td>
          <td><%= store.description[0...31] %>
            <% if store.description.length >= 32 %>
              ...
            <% end %>
          </td>
          <td>
            <% if store.active? %>
            <%= store.active_to_s %> <%= link_to "Disable", toggle_active_admin_store_path(store), method: :put, :class => 'btn btn-mini', :id => 'disable_store' %>
            <% else %>
            <%= link_to "Enable", toggle_active_admin_store_path(store), method: :put, :class => 'btn btn-mini', :id => 'enable_store' %> <%= store.active_to_s %>
            <% end %>
          </td>
          <td><%= link_to "Admin", store_admin_path(store), :id => 'visit_store_admin_page' %></td>
        </tr>
      <% end %>
      </tbody>

      <tfoot>
      </tfoot>

    </table>

  </div>




</div>
