<div class="user-index">
  <%= render partial: 'shared/admin_navigation', :locals => { active: :stores } %>

  <div class="span8">

    <div class="store_details">
      <h2>Store Details</h2>
      <hr>
      <%= link_to 'Edit Store Details', store_admin_edit_path(@store), method: :get %>
      <br>
      <br>
      <p>
        <b>Name:</b>
        <%= @store %>
      </p>

      <p>
        <b>URL ID:</b>
        <%= @store.path %>
      </p>

      <p>
        <b>Description:</b>
        <%= @store.description %>
      </p>
      <br>
      <br>
    </div>

    <div class="store_admins">
      <h2>Store Admins</h2>

      <hr>
      <a href='#new_Admin' role='button' data-toggle='modal'>Add a New Store Admin</a>
      OR
      <a href='#new_Stocker' role='button' data-toggle='modal'>Add a New Store Stocker</a>
      <br>
      <br>

      <%= render partial: 'store_admins', :locals => {users: @store_users, store: @store} %>

      <div id="new_Admin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Add a New Store Admin</h3>
        </div>
        <div class="modal-body">

          <%= render partial: 'admin/users/new_admin' %>
        </div>
      </div>

      <div id="new_Stocker" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Add a New Store Stocker</h3>
        </div>
        <div class="modal-body">
          <%= render partial: 'admin/stockers/new_stocker' %>
        </div>
      </div>

    </div>

  </div>
</div>
