<div class="user-index">
  <%= render partial: 'user_navigation', :locals => { active: :stores } %>

  <div class="span8">
      
  

    <div class="store_details">
      <h2>Store Details</h2>
      <hr>
      <%= link_to 'Edit Store Details', store_admin_edit_path(@store), method: :get %>
      <br>
      <br>
      <p>
        <b>Name:</b>
        <%= @store %>
      </p>

      <p>
        <b>URL ID:</b>
        <%= @store.path %>
      </p>

      <p>
        <b>Description:</b>
        <%= @store.description %>
      </p>
      <br>
      <br>
    </div>

    

    <div class="store_admins">
      <h2>Store Admins</h2>
     
      <hr>
      <%= link_to "Add New Store Admin", new_store_admin_user_path, method: :get %>
      OR
      <%= link_to "Add New Stocker", new_store_admin_stocker_path, method: :get %>
      <br>
      <br>
      <%= render partial: 'store_admins', :locals => {users: @store_users, store: @store} %>
    </div>

  </div>
</div>
