<div class ="content-box">
  Thanks so much for your purchase
  <br>
  <br>
  <br>
      <table class="table table-striped">
        <thead>
          <th><%= "Store" %></th>
          <th><%= 'Product Name' %></th>
          <th><%= 'Quantity' %></th>
          <th><%= 'Unit Price' %></th>
          <th><%= 'Subtotal' %></th>
        </thead>
        <tbody>
          <%= render partial: 'order_item', collection: @order.order_items %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right;"><%= 'Total' %>:</td>
            <td><%= number_to_currency(@order.total) %></td>
          </tr>
        </tfoot>
      </table>
  <br>

  <br>
  Your payment has been successfully processed!
  <br>
  <br>
  We hope you stop by again!
  <br>
  <br>
  <div style= "text-indent:10px">
    <%= link_to button_tag("Return to Store Index", class: 'btn btn-custom-lighten'), root_path %>
  </div>

</div>

