<div class="order-index">
  <%= render partial: '/users/user_navigation', :locals => { active: :orders } %>

  <div class="span8">

    <h1><%= 'Order History' %></h1>
    <hr>


    <table class="table table-striped">
      <thead>
      <th>#</th>
      <th><%= 'Status' %></th>
      <th><%= 'Order Date' %></th>
      <th><%= 'Total' %></th>
      </thead>
      <tbody>
      <%= render partial: 'Order', collection: @orders %>
      </tbody>
    </table>
  </div>
</div>
