<div class="order-index">
  <%= render partial: '/users/user_navigation', :locals => { active: :orders } %>

  <div class="span8">

    <h1><%= 'order.history' %></h1>
    <hr>


    <table class="table table-striped">
      <thead>
      <th>#</th>
      <th><%= 'model.status' %></th>
      <th><%= 'order.date' %></th>
      <th><%= 'total' %></th>
      </thead>
      <tbody>
      <%= render partial: 'order', collection: @orders %>
      </tbody>
    </table>
  </div>
</div>
