<div id='order-new'>


<% if current_cart.empty? == false %>
<h3>Please review your order information</h3>
<h4>Your current cart for <%= current_store %>:</h4>
<br/>
<table class="table table-striped">
  <thead>
    <th></th>
    <th><%= t('product.self') %></th>
    <th><%= t('product.price') %></th>
    <th><%= t('product.quantity') %></th>
  </thead>
  <tbody>

    <% @cart_items.each do |cart_item| %>
  <tr>
    <% product = Product.find(cart_item[0].to_i) %>
    <td><%= image_tag product.image.url(:thumbnail) %></td>
    <td>
      <%= link_to product.title, store_product_path(current_store, product) %>

      <br>
      <%= product.description %>
      <br>
      <%= link_to t('action.remove'), remove_item_store_cart_path(current_store, remove_item: { product_id: product.id }), confirm: t('confirm'), method: :put %>
    </td>
    <td><%= number_to_currency(product.price) %></td>
    <td>
      <%= simple_form_for :carts, url: store_cart_path(current_store), method: :put do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.input_field :quantity, value: cart_item[1].to_i, class: 'span1' %>
        <%= f.button :submit, t('crud.update'), class:'btn btn-info' %>
      <% end %>
    </td>
  </tr>
<% end %>


  </tbody>
</table>
<% else %>
  Nothing in your cart.  Go shopping!
<% end %>
<br/><br/>

    <h4>Shipping information:</h4>
  <ul>
    <li><%= @customer.shipping_address.street_address %></li>
    <li><%= @customer.shipping_address.city %></li>
    <li><%= @customer.shipping_address.zip %></li>
    <li><%= @customer.shipping_address.state %></li>
  </ul><br/>

  <h4>Billing information:</h4>
  <ul>
    <li><%= @customer.billing_address.street_address %></li>
    <li><%= @customer.billing_address.city %></li>
    <li><%= @customer.billing_address.zip %></li>
    <li><%= @customer.billing_address.state %></li>
  </ul><br/>

  <h4>Credit card information:</h4>
  <ul>
    <li><%= @customer.credit_card.number %></li>
    <li><%= @customer.credit_card.expiration_month%></li>
    <li><%= @customer.credit_card.expiration_year%></li>
    <li><%= @customer.credit_card.security_code%></li>
  </ul><br/>


<% if current_cart.empty? %>
  <h3></h3>
<% else %>
  <%= button_to "Submit Order", store_create_order_path(current_store, @customer.id), method: :post %>
<% end %>