<h2>Please review your order information</h2>

<h4>Your current cart:</h4>
<% if current_cart.empty? == false %>
<br/>
<table class="table table-striped">
  <thead>
    <th></th>
    <th><%= t('product.self') %></th>
    <th><%= t('product.price') %></th>
    <th><%= t('product.quantity') %></th>
  </thead>
  <tbody>
    <%= render partial: 'carts/cart_item' %>
  </tbody>
</table>
<% else %>
  Empty
<% end %>
<br/><br/>

  <h4>Shipping information:</h4>
<ul>
  <li><%= @user.customer.shipping_address.street_address %></li>
  <li><%= @user.customer.shipping_address.city %></li>
  <li><%= @user.customer.shipping_address.zip %></li>
  <li><%= @user.customer.shipping_address.state %></li>
</ul><br/>

<h4>Billing information:</h4>
<ul>
  <li><%= @user.customer.billing_address.street_address %></li>
  <li><%= @user.customer.billing_address.city %></li>
  <li><%= @user.customer.billing_address.zip %></li>
  <li><%= @user.customer.billing_address.state %></li>
</ul><br/>

<h4>Credit card information:</h4>
<ul>
  <li><%= @user.customer.credit_card.number %></li>
  <li><%= @user.customer.credit_card.expiration_month%></li>
  <li><%= @user.customer.credit_card.expiration_year%></li>
  <li><%= @user.customer.credit_card.security_code%></li>
</ul><br/>

<% if current_cart.empty? %>
  <h3>Nothing in your cart.  Go shopping!</h3>
<% else %>
  <%= button_to "Submit Order", customer_orders_path(current_user), method: :post %>
<% end %>
