<div class="order-show">
  <%= render partial: '/users/user_navigation', :locals => { active: false } %>

  <div class="span8">

    <h1><%= 'order.self' %> #<%= @order.id %></h1>
    <p><%= 'model.createdat' %> <%= @order.created_at.to_s(:short) %></p>
    <span class="label default"><%= @order.status %></span> <%= 'time.asof' %> <%=@order.updated_at.to_s(:short) %>
    <br>
    <br>

    <table class="table table-striped">
      <thead>
        <th><%= "Store" %></th>
        <th><%= 'product.name' %></th>
        <th><%= 'product.quantity' %></th>
        <th><%= 'product.unitprice' %></th>
        <th><%= 'product.subtotal' %></th>
      </thead>
      <tbody>
        <%= render partial: 'order_item', collection: @order.order_items %>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td style="text-align: right;"><%= 'total' %>:</td>
          <td><%= number_to_currency(@order.total) %></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
