<div class="admin-category-index">
  <%= render partial: 'shared/admin_navigation', :locals => { active: :categories } %>

  <div class="span8">
    <h1><%= t 'categories.self' %></h1>
    <hr>
    <div class="pull-right">
      <%= button_to "New Category", new_store_admin_category_path, method: :get, class: 'btn btn-large btn-custom-lighten' %>
    </div>

    <table class="table table-striped">
      <tr>
        <td><strong>name</strong></td>
        <td><strong></strong></td>
      </tr>
      <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.title, store_admin_category_path(current_store, category) %></td>
        <td><%= link_to "edit", edit_store_admin_category_path(current_store, category) %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
