<% cache("admin_product_index_id_#{product.id}") do %>

  <tr>
    <td><%= link_to product.title, store_product_path(product.store, product) %></td>
    <td><%= number_to_currency(product.price) %></td>
    <td>
      <% product.categories.each do |category| %>
        <%= category.title %> <br>
      <% end %>
    </td>
    <td>
      <%= render partial: 'product_status',
                 locals: { product: product } %>
    </td>
    <td>

      <%= link_to 'Edit',
                  edit_store_admin_product_path(current_store, product) %>

      <%= link_to activate_or_retire_translation(product.status),
                  toggle_status_store_admin_product_path(current_store, product, 'retire'),
                  method: :post %>

      <%= link_to 'Delete',
                  store_admin_product_path(current_store, product),
                  confirm: t('confirm'),
                  method: :delete %>
    </td>
  </tr>

<% end %>
