<div class="admin-product-index">
  <%= render partial: 'shared/admin_navigation', :locals => { active: :products }  %>

  <div class="span8">
    <div class="pull-right">
      <%= button_to "New Product", new_store_admin_product_path, method: :get, class: 'btn btn-custom-lighten', id: 'create_new_product' %>
    </div>

    <h1><%= 'Products' %></h1>
    <hr>
    <%= paginate @products %>

    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= 'Title' %></th>
        <th><%= 'Price' %></th>
        <th><%= 'Categories' %></th>
        <th><%= 'Status' %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <%= render @products %>
      </tbody>
    </table>

  </div>
</div>
