<div class="row content-box">
  <div class="prod_detail_img span6">
    <P><%= image_tag generate_image_url(500, @product.id), class: "img-rounded" %></P>
  </div>

  <div class="prod_detail_text span5">
    <h2>Review for: <%= @product.title %></h2>
    <p><%= @product.description %></p>

    <div id="product-categories">
      <b><%= 'Category' %>:</b>
      <% @product.categories.each do |category| %>
        <span class='label'><%= link_to category.title, store_category_path(@product.store.path, category), method: :get %></span>
      <% end %>
    </div>

      <div class="star-ratings" >
    <h3>
    Please rate the following criteria:
    </h3>
    <%= form_for @product_review,
        url: store_product_reviews_path(store_path:params[:store_path]) do |review_form| %>


      <% @product_review.ratings.each do | rating | %>
        <%= review_form.fields_for :ratings, rating do |rating_fields| %>
          <div class="star-ratings-group">
            <%= rating.question.long_form %>
            <%= rating_fields.hidden_field :question_id %>
            <%= rating_fields.radio_button :rating, '1', class: "star" %>
            <%= rating_fields.radio_button :rating, '2', class: "star" %>
            <%= rating_fields.radio_button :rating, '3', class: "star", checked: "checked" %>
            <%= rating_fields.radio_button :rating, '4', class: "star" %>
            <%= rating_fields.radio_button :rating, '5', class: "star" %>
          </div>
        <% end %>
      <% end %>

      <%= review_form.label :comment, "Add your comments: " %>
      <%= review_form.text_area :comment, class: "review-comment" %>
      <br>
      <br>
      <%= review_form.submit "Submit Review", class: "btn"%>

    <% end %>
    </div>
  </div>
</div>

