<div class="span3">
  <ul class="nav nav-list">
    <li class="nav-header"><%= current_user %>'s Account</li>
    <li class="<%= active == :stores ? 'active' : '' %>">
      <%= link_to 'Manage Stores', profile_path %>
    </li>
    <li class="<%= active == :account_info ? 'active' : '' %>">
      <%= link_to 'Edit Account Information', profile_path %>
    </li>
    <li class="<%= active == :personal_info ? 'active' : '' %>">
      <%= link_to 'Edit Personal Information', profile_path %>
    </li>
    <li class="<%= active == :orders ? 'active' : '' %>">
      <%= link_to 'Order History', profile_path %>
    </li>
  </ul>
</div>
