<%= link_to store_product_path(current_store, product) do %>
  <div class="products span3">
    <%= image_tag generate_image_url(300, product.id) %>

    <h5><%= product.title.titleize %></h5>
    <%= 'Price' %>: <%= number_to_currency(product.price) %>
  </div>
<% end %>

