<%= link_to store_product_path(store, product) do %>
  <div class="products span3">
    <p><%= image_tag generate_image_url(300, product.id) %></p>

    <h5><%= product.title.titleize %></h5>
      <p><%= 'Price' %>: <%= number_to_currency(product.price) %></p>
  </div>
<% end %>



