<div class="logo">
  <%= link_to(image_tag('marcy_logo.png'), root_path, :class => 'brand') %>
</div>
<div class="logo-text">
  <%= link_to "Pink SoSE", root_path, :class => 'brand' %>
</div>

<div id='welcome_user'>
  <% if logged_in? %>
    <p id="signature">Welcome, <%= current_user %></p>
  <% end %>
</div>

<div class="nav-buttons">
  <ul class="nav pull-right">
    <%if false%>
      <% if logged_in? && current_user.platform_admin? %>
      <li><%= link_to t('admin.self'), admin_dashboard_path %></li>
      <% end %>
    <%end%>

    <% if logged_in? %>
      <li><%= render 'layouts/admin_button' %></li>
      <li><%= render 'layouts/logout_button' %></li>
      <li><%= link_to "Profile", profile_path %></li>
    <% else %>
        <li><%= link_to 'Login', login_path  %></li>
        <li><%= link_to 'Sign Up', signup_path %></li>
    <% end %>
    <li>
      <%= button_to "#{t 'navigation.cart'} #{current_cart.count}", cart_path, class: 'btn btn-custom-lighten', method: :get %>
    </li>
</ul>
